sudo: false

language: python

python:
        - "2.7"
        - "3.6"

before_install:
  - sudo apt-get update
  - sudo apt-get install -y graphviz

install: pip install sphinx sphinx_rtd_theme

notifications:
  - email: false

script:
  - make html
